div#verticalLine {
    /* Required, don't change */
    opacity: 1;
    margin-bottom: -5px;
    display: inline-block;
    animation-name: blinkingAnimation;
    animation-iteration-count: infinite;
    
    /* Customizable values */
    width: 2px; /* Width of the vertical line */
    background-color: #C7C7C7; /* Backgroung color of the vertical line */
    animation-duration: .5s; /* How often the vertical line blinking animation occurs */
}

@keyframes blinkingAnimation {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}